/* desktop */
@media screen and (min-width: 1025px) {
  .slider {
    display: none;
  }

  .services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 2rem;
    /* margin-inline: auto; */
  }

  .services__wrapper {
    display: grid;
    /* 4 imagenes (1fr times 4) xd */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .services__card {
    margin: 10px;
    height: 425px;
    width: 300px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: 0.18s ease-in;
  }

  .slider__txt {
    font-family: "Comic Neue";
    text-align: center;
    margin-top: 24px;
    font-size: 2rem;
  }

  .services__wrapper a {
    text-decoration: none;
  }

  .services__card:hover {
    transform: scale(1.075);
    box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #ec38bc, 0 0 82px #ec38bc, 0 0 92px #ec38bc, 0 0 102px #ec38bc, 0 0 151px #ec38bc;

    font-weight: bolder;
    transition: 0.18s ease-in;
  }

  #slide1 {
    background: url(images/dinamica.png);
  }

  #slide2 {
    background: url(images/cinematica.png);
  }

  #slide3 {
    background: url(images/mProyectil.png);
  }

  #slide4 {
    background: url(images/contacto.png);
  }

  @media screen and (max-width: 1300px) {
    .services__wrapper {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media screen and (max-width: 768px) {
    .services__wrapper {
      grid-template-columns: 1fr;
    }
  }
}
/* end desktop */

/* mobile */
@media screen and (max-width: 1024px) {
  .services {
    display: none;
  }

  .slider__container {
    display: flex;
    margin-inline: auto;
    max-width: 300px;
    height: 425px;
    width: 100%;

    /* con overflow-x con valor scroll hace que lo que se pase de 
    la pantalla solo sea accesbile mediante scroll */
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
    border-radius: 6px;
    margin-bottom: 6rem;
    -webkit-overflow-scrolling: touch;
  }

  .slider__container::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .slider__container::-webkit-scrollbar-thumb {
    background: -webkit-linear-gradient(to right, #ddb7d2, #ec38bc, #7303c0, #06003d);
    background: linear-gradient(to right, #ddb7d2, #ec38bc, #7303c0, #06003d);
    border-radius: 10px;
  }
  .slider__container::-webkit-scrollbar-track {
    background: transparent;
  }

  .slide--img {
    /* separacion entre imagenes con el margin-right */
    margin-right: 60px;
    scroll-snap-align: center;
    height: 425px;
    width: 300px;
    /* para que no se encojan los divs para entrar todos en los mismos 300 px de width,
     de esta manera entre todos hacen el overflow que permite que exista el slider */
    flex-shrink: 0;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .slider__container a {
    text-decoration: none;
  }

  .slider__txt {
    font-family: "Comic Neue";
    font-size: 3rem;
    color: #fff;
  }

  #slide1 {
    background: url(images/dinamica.png);
  }

  #slide2 {
    background: url(images/cinematica.png);
  }

  #slide3 {
    background: url(images/mProyectil.png);
  }

  #slide4 {
    background: url(images/contacto.png);
  }
}
